// 基本颜色
@primary: #16A3EB;
// 字体颜色
@color-font-base: #666666;
// 渐变色
@color-lg-blue: linear-gradient(315deg, #30a2e6 0%, #6cdacc 100%);
@color-lg-violet: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
