@layout-side-prefix: ~'side-menu-';

.@{layout-side-prefix} {
  &wrapper {
    @width: 180px;
    @shrinkage: 80px;
    @avatar-size: 40px;

    width: @width;
    display: inline-block;
    background: @color-lg-blue;
    height: 100%;
    padding: 15px;
    color: @color-font-light;
    letter-spacing: 1px;

    .class-info {
      .flex-center-xy();
      .info {
        text-align: left;
        padding-left: 10px;
      }
      .avatar {
        width: @avatar-size;
        height: @avatar-size;
        border-radius: 50%;
        border: 3px solid #fff;
      }
    }

    .menu {
      padding: 10px 0;
      list-style-type: none;
      user-select: none;
      .menu-item {
        padding: 10px 0 10px 20px;
        cursor: pointer;
        border-radius: 3px;
        margin-bottom: 10px;
        transition: all 0.2s ease-in-out;
        &::before {
          padding-right: 5px;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
        &:hover {
          background: rgba(255, 255, 255, 0.3);
        }
      }
    }
  }
}
